Screen {
    layout: grid;
    grid-size: 3 3;
    grid-gutter: 1 2;
    grid-rows: 13 3 1fr;
    grid-columns: 30 30 1fr;
    padding: 1 2;
}


.grid {
    background: $boost;
    height: 100%;
}


  .grid-1 {
    column-span:2;
    padding: 1 2;
    padding-left: 5;
}

.grid-2 {
    padding: 1 2;
}

.grid-3 {
    column-span: 3;
}

.grid-5 {
    column-span:2;
    padding: 1 2;
}

