.field-row {
    margin-top: 1
}

#ip-label, #port-label, #int-label {
    width: auto;
    margin-top: 1
}

#port-label {
    margin-left: 2;
    margin-top: 1

}

#interface{
    width: 36
}

#ip {
    margin-left: 2;
    width: 20;
}

#port {
    width: 13
}