#os-label {
    padding-top: 1
}

#language-filter-label {
    padding-left: 2;
    padding-top: 1

}

#language-filter-input {
    width: 50%
}


#payload-text {
    height: 60%;
    margin-bottom: 1;
    margin-top: 1
}

#payloads-footer {
    align-vertical: bottom
}

#shell-label {
    margin-top: 1
}

#encoding-label {
    padding-top: 1
}